body {
  font-family: Helvetica, Arial, sans-serif;
  color: #DDD;
  background-color: #73503b;
}

h1, h2, h3, p, ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*              Layout                 */

h1 a {
  color: #DDD;
}

header {
  top: 0;
  width: 800px;
  height: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 10px;
}

header button {
  height: 1.6em;
  font-size: 1em;
  margin-top: 6px;
  margin-left: 5px;
  border-radius: 7px;
  float: right;
}

header button li {
  display: inline;
}

header button a {
  color: #333;
}

.black {
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 60px;
  box-sizing: border-box;
  z-index: 10;
}

.body {
  top: 60px;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  margin-top: 50px;
}

.logo {
  margin: 0;
  float: left;
}

.not_logged_in {
  text-align: center;
  float: none;
}

.box {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  background-color: #111;
  border-radius: 5px;
  border-width: 2px;
  border-color: white;
  box-sizing: border-box;
}

/*              Login                 */

.login {
  width: 400px;
  height: 200px;
}
