body {
  font-family: Helvetica, Arial, sans-serif;
  color: #DDD;
  background-color: #73503b;
  height: 100%;
}

h1, h2, h3, p, ul {
  margin: 0;
}

a {
  color: yellow;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*              Layout                 */

h1 a {
  color: #DDD;
}

header {
  top: 0;
  width: 800px;
  height: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 10px;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #654030;
  border-top: 1px solid #531;
  position: absolute;
  height: 15px;
  font-size: 0.75em;
}

header button {
  height: 1.6em;
  font-size: 1em;
  margin-top: 6px;
  margin-left: 5px;
  border-radius: 7px;
  float: right;
}

header button li {
  display: inline;
}

header button a {
  color: #333;
}

.black {
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 60px;
  box-sizing: border-box;
  z-index: 10;
}

.body {
  top: 60px;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  margin-top: 50px;
}

.logo {
  margin: 0;
  float: left;
}

.not_logged_in {
  text-align: center;
  float: none;
}

.box {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  background-color: #654030;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #531;
  box-sizing: border-box;
}

.error_message {
  color: red;
}

/*              Login                 */

.login {
  width: 300px;
  height: auto;
}

.login p {
  margin-bottom: 1em;
}

.login p.last {
  margin-bottom: 0;
}

.login input {
  font-size: 1em;
  width: 100%;
}

.login #Login {
  height: 1.7em;
  font-size: 1em;
  border-radius: 7px;
  margin: 5px 0;
}

/*           Index & Profile          */

.title h2 {
  display: inline;
}

.title button {
  height: 1.6em;
  font-size: 1em;
  border-radius: 7px;
  float: right;
}

.title button a {
  color: #111;
}

.title.box, .content.box{
  width: 80%;
}

.content.box {
  padding-bottom: 0;
}

.content p {
  margin-bottom: 1.5em;
}

span.right {
  float: right;
}
