<h1><%= @user.username %>'s Deck(s):</h1>
<p>
  <button><a href="/decks/new">Add New Deck</a></button>
</p>
<% @user.decks.each do |deck| %>
  <p><a href="/decks/<%= deck.id %>"><%= deck.name %></a> - <%= deck.format %></p>
<% end %>
