<h1>Sign Up for Magic the Gathering Organizer</h1>
<form action="/signup" method="post">
  <p>
    <label for="email">Email: </label>
    <input id="email" name="email" type="email" required />
  </p>
  <p>
    <label for="email_confirmation">Email Confirmation: </label>
    <input id="email_confirmation" name="email_confirmation" type="email" required />
  </p>
  <p>
    <label for="username">Username: </label>
    <input id="username" name="username" type="text" required />
  </p>
  <p>
    <label for="password">Password: </label>
    <input id="password" name="password" type="password" required />
  </p>
  <input type="submit" id="Signup" value="Sign Up" />
</form>
<p>Already signed up? <a href="/">Log In Here</a>.</p>
