<form action="/decks" method="post">
  <h1>New Deck</h1>
  <h3>Name: <input id="deck_name" name="deck[name]" /></h3>
  <h3>Format: <input id="deck_format" name="deck[format]" /></h3>
  <textarea id="deck_list" name="deck_list"></textarea>
  <input type="submit" id="create_deck" value="Create Deck" />
</form>
