<section class="login box">

  <% if !session[:error].nil? %>
    <p class="error_message">Well there's a problem, <%= session[:error] %></p>
    <% session[:error] = nil %>
  <% end %>

  <form action="/login" method="post">
    <p>
      <label for="email">Email: </label>
    </p>
    <p>
      <input id="email" name="email" type="email" required />
    </p>
    <p>
      <label for="password">Password: </label>
    </p>
    <p>
      <input id="password" name="password" type="password" required />
    </p>
    <p>
      <input type="submit" id="Login" value="Log In" />
    </p>
  </form>
  <p class="last">Don't have a login? <a href="/signup">Sign Up Here</a>.</p>

</section>
