<!DOCTYPE html>
<html>
  <head>
    <title>MtG Deck Organizer</title>
  </head>
  <body>
    <% if logged_in? %>
      <header>
        <p>
          Hi, <a href="/users/<%=current_user.username%>"><%= current_user.username %></a>
        </p>
        <button><a href="/logout">Log Out</a></button>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
