<!DOCTYPE html>
<html>
  <head>
    <title>MtG Deck Organizer</title>
    <link rel="stylesheet" href="style.css" >
  </head>
  <body>
    <div class="black">
      <header>
        <h1 class="logo"><a href="/">MtG:DO</a></h1>
        <% if logged_in? %>
          <ul>
            <li><button><a href="/logout">Log Out</a></button></li>
            <li><button><a href="/users/<%=current_user.username%>">Profile</a></button></li>
          </ul>
        <% end %>
      </header>
    </div>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
